@import url("http://fonts.googleapis.com/css?family=Poppins:700");
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
  
body {
    background: linear-gradient(
      to bottom,
      #fff9e3 0%,
      #fff9e3 50%,
      #fff0bc 50%,
      #fff0bc 100%
    );
}
h1{
    font-family:Poppins; 
    color: #ef3d3d;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    left: 10%;
    top: 5%;
    position: relative;
}
div[class="Fitur"]{
    display: flex;
    flex-direction: row;
    top: 12.5%;
    left: 17.5%;
    position: relative;
}
img{
    margin-right:50px;
    height: 300px;
    width: 300px;
}